*, html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.fContainer {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 100%;
    padding: 5px;
    width: auto;
    height: 80px;
    background-color: #222;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.brand {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    padding: 15px;
    text-transform: capitalize;
}

.name {
    color: white;
    font-weight: 800;
    font-size: 30px;
    padding-top: 5px;
    padding-left: 5px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}


.navigation > li {
    list-style-type: none;
    padding: 15px;
}

.navigation > li > a {
   color: white;
   font-size: 20px;
   text-decoration: none;
   text-transform: capitalize;
}

.navigation>li>a:hover {
    color: crimson;
    transition: all 0.3s ease-in-out;
}

.active {
    background-color: crimson;
    color: white;
    padding: 15px;
}

.active:hover {
    color: black !important;
}

section{
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    border-bottom: 1px solid #222;
}

section img {
    width: 50%;
    height: 50%;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 100px;
    padding-left: 40px;
}

.kolom .deskripsi {
    font-size: 25px;
    font-weight: bold;
    font-family: 'comic sans ms';
}

h1 {
    font-weight: 800;
    font-size: 35px;
    font-family: 'comic sans ms';
    width: 100%;
    line-height: auto;
}

.kolom > p {
    font-family: 'comis sans ms';
    font-size: 25px;
    font-weight: bold;
    width: 100%;
}

a.contact {
    background: crimson;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: antiquewhite;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
}

.contact:hover {
    color: black;
    background-color: lightgreen;
    transition: all 0.1s ease-in-out;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.aboutme {
    padding-top: 25px;
    padding-bottom: 30px;
    margin: auto;
    border-bottom: 1px solid #222;
}

.aboutme img {
    width: auto;
    height: auto;
    margin: auto;
    
}

.kolom1>h2 {
    font-size: 50px;
    margin: 30px;
}

.kolom1 > p {
    font-size: 25px;
    text-align: justify;
    margin: 30px;
}

.media {
    justify-content: center;
    align-content: center;
    padding-bottom: 50px;
}

.kolom2>p {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    margin: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-media-icon {
    padding: 5px;
    background: #222;
    color: #fff;
    border-radius: 4px;
}

.kolom2>a {
    display: flex;
    color: white;
    font-size: 20px;
    background: crimson;
    margin: 10px;
    padding: 15px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.kolom2>a:hover {
    color: black !important;
    transition: all 0.3s ease-in-out;
}


.kolom2>p {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    margin: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.kolom2>a {
    display: flex;
    color: white;
    font-size: 20px;
    background: crimson;
    margin: 10px;
    padding: 15px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.kolom2>a:hover {
    color: black !important;
    transition: all 0.3s ease-in-out;
}

@media only screen 

